# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Java/Maven
target/
*.jar
*.war
*.ear
*.class
.mvn/wrapper/maven-wrapper.jar

# AWS/Environment
.aws/
.env

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
